<div class="jsonwin">
  <div class="jsonwin__bar">
    <span class="jsonwin__dot"></span>
    <span class="jsonwin__dot"></span>
    <span class="jsonwin__dot"></span>
    <span class="jsonwin__name">l1_transfer.json</span>
  </div>
  <pre><code><span class="tok-punct">{</span>
  <span class="tok-key">"span"</span><span class="tok-punct">: </span><span class="tok-punct">"</span><mark>in the learning aspect</mark><span class="tok-punct">"</span><span class="tok-punct">,</span>
  <span class="tok-key">"error_type"</span><span class="tok-punct">: </span><span class="tok-str">"syntactic"</span><span class="tok-punct">,</span>
  <span class="tok-key">"transfer"</span><span class="tok-punct">: </span><span class="tok-str">"L1::Mandarin"</span><span class="tok-punct">,</span>
  <span class="tok-key">"source_构造"</span><span class="tok-punct">: </span><span class="tok-str">"在…方面"</span><span class="tok-punct">,</span>
  <span class="tok-key">"suggestion"</span><span class="tok-punct">: </span><span class="tok-str">"in terms of learning"</span><span class="tok-punct">,</span>
  <span class="tok-key">"confidence"</span><span class="tok-punct">: </span><span class="tok-num">0.92</span>
<span class="tok-punct">}</span></code></pre>
</div>
